.development {
    max-width: 100%;
}

.development__app {
    padding-bottom: 60px;
}

.development__container {
    padding: 30px 165px;
    padding-top: 0;
}

.development__block {
    margin-top: 80px;
    padding: 60px;
    background: #FFFFFF;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.development__header {
    &--ttl {
        
        h3 {
            text-align: center;
            font-weight: 900;
            font-size: 60px;
            color: $blue;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        p {
            text-align: center;
            color: #939393;
            margin-bottom: 50px;
        }
    }
}

.development__divider {
    display: flex;
    align-items: center;
    justify-content: center;

    &--div {
        width: 460px;
        height: 1px;
        background-color: #D2D2D2;
    }

    &--round {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        margin: 10px;
        position: relative;
        a {
            position: absolute;
            width: 20px;
            height: 20px;
            display: block;
            border: 3px solid #D2D2D2;
            border-right-color: transparent;
            border-bottom-color: transparent;
            transform: translate3d(-50%, -20%, 0) rotate(45deg);
            left: 50%;
            top: 50%;
        }

        .closed {
            transform: translate3d(-50%, -70%, 0) rotate(-135deg);
            border-left-color: #55B570;
            border-top-color: #55B570;
        }
    }
}

.development__app {

    &--ttl {
        margin-bottom: 60px;
        margin-top: 70px;
        h3 {
            text-align: center;
            text-transform: uppercase;
        }
    }

    &--blc {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 60px;
    }

    &--itm {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        margin: 15px;
        height: 184px;
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            p {
                margin-top: 20px;
                font-size: $fs + 4;
            }
            span {
                font-weight: 500;
                color: #939393;
            }
        }
    }

    &--right {
        border-left: 1px solid #EBEBEB;
        width: 305px;
        height: 100%;
    }

    &--left {
        width: 174px;
        height: 100%;
        p {
            font-weight: 700;
            color: #939393;
        }
    }
}

.development__cycle {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--ttl {
        font-size: $fs + 4;
        font-weight: 700;
        text-transform: uppercase;
        margin: 20px 0;
    }

    &--lead {
        font-weight: 500;
        color: #939393;
    }

    img {
        margin: 40px;
    }

    &--p {
        text-align: center;
        color: #060606;
        margin-bottom: 60px;
    }
}

.development__products {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--ttl {
        text-transform: uppercase;
        font-size: $fs + 4;
        font-weight: 700;
        text-align: center;
        margin: 60px;
    }

    &--itms {
        display: flex;
        flex-wrap: wrap;
    }

    &--itm {
        width: 174px;
        height: 174px;
        background: #FFFFFF;
        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        margin: 15px;
        padding: 11px;
        position: relative;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:first-child,
        &:nth-child(6) {
            margin-left: 0;
        }
        &:nth-child(5),
        &:last-child {
            margin-right: 0;
        }
        span {
            font-weight: 700;
            color: #939393;
            text-align: center;
        }
    }

    &--img {
        margin-bottom: 20px;
    }

    &--pla {
        position: absolute;
        top: 16px;
        right: 16px;
    }

    &--oth {
        text-align: center;
        font-weight: 500;
        font-size: $fs + 4;
        color: #939393;
        margin: 60px;
    }
}