.line2 {
    max-width: 100%;
    height: 717px;
    background: url('../image/bg_work_with_us.svg') no-repeat;
    background-size: cover;
    border: $border;
}

.line2__container {
    padding: 0 165px;
    max-width: 100%;
    height: 100%;
}

.line2__title {
    color: #fff;
    width: 730px;
    margin: 0 auto;
    margin-top: 185px;

    h2 {
        font-weight: 900;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    p {
        text-align: center;
    }
}

.line2__article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;

    &--item {
        width: 350px;
        text-align: center;
        
        img {
            margin-bottom: 30px;
        }
        p {
            color: #fff;
        }
    }
}