.line1 {
    max-width: 100%;
    padding-top: 230px;
}

.line1__container {
    padding: 0 165px;
    display: flex;
    flex-direction: column;
}

.line1__title {
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.line1__features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;

    &--item {
        width: 300px;
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 85px;
        text-align: center;

        img {
            margin-bottom: 30px;
        }
        
        p {
            font-size: $fs + 4;
            font-weight: 300;
        }
    }
}