.tender {
    padding-top: 80px;
    text-align: center;

    h2 {
        font-size: $fs + 4;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
    }

    p {
        font-size: 30px;
        color: #939393;
        font-weight: 900;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    a {
        font-size: 30px;
        color: $blue;
        font-weight: 900;
        text-transform: uppercase;
    }
}