*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  max-width: 1440px;
  font-size: 16px;
  font-family: "Gilroy", sans-serif;
  margin: 0;
}

body a {
  text-decoration: none;
  color: #000;
}

.contactUs {
  border-radius: 40px;
  border: 4px solid #2E9ADB;
  color: #2E9ADB;
  background: #fff;
  width: 350px;
  height: 80px;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  margin: auto;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.contactUs:hover {
  background: #2E9ADB;
  color: #fff;
}

header {
  width: 100%;
  height: 80px;
}

header .header__container {
  height: 100%;
  padding: 0 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__linkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header__links a {
  display: block;
  height: 100%;
  font-size: 13px;
  line-height: 80px;
  margin: 0 25px;
  font-weight: 700;
  color: #565656;
  border-top: 5px solid transparent;
}

.header__links a.green {
  border-top: 5px solid #55B570;
}

.header__links a.blue {
  border-top: 5px solid #2E9ADB;
}

.header__signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 100px;
}

.header__signin div {
  margin: 0 5px;
  font-size: 13px;
  font-weight: 800;
  color: #55B570;
}

.header__signin a {
  color: #55B570;
  font-size: 13px;
  font-weight: 800;
}

.header__lang {
  width: 65px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 14px;
  border: 1px solid #EBEBEB;
}

.header__lang--Ru, .header__lang--En {
  color: #909090;
  font-size: 13px;
}

.header__lang--Ru.active, .header__lang--En.active {
  width: 35px;
  height: 28px;
  color: #fff;
  background: #4EAAE0;
  border-radius: 14px;
  text-align: center;
  line-height: 28px;
}

.header__lang--En {
  margin-left: 3px;
}

.first {
  max-width: 100%;
  background: url("../image/bg.png") no-repeat;
  height: 670px;
}

.first.green {
  background: url("../image/bg-green.png") no-repeat;
}

.first__container {
  padding: 0 165px;
  border: 1px solid transparent;
  background: url("../image/bg-2.png") no-repeat;
}

.first__header {
  margin-top: 110px;
}

.first__header h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  color: #fff;
}

.first__header p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.first__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-top: 100px;
}

.first__stat--item {
  border-right: 2px solid rgba(255, 255, 255, 0.25);
  width: 276px;
  height: 150px;
  padding-top: 36px;
}

.first__stat--item:last-child {
  border-right: none;
}

.first__stat--item h5 {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  line-height: 49px;
}

.first__stat--item p {
  font-weight: 500;
  text-align: center;
  color: #fff;
}

.first__footer {
  background: url("../image/Vector11.png") no-repeat;
  width: 100%;
  height: 300px;
  padding: 0 150px;
}

.first__options {
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  height: 300px;
  margin: auto;
}

.first__options div {
  width: 50%;
  text-align: center;
  padding: 58px 50px;
}

.first__options div p {
  font-weight: 500;
  line-height: 24px;
}

.first__options div button {
  width: 354px;
  height: 80px;
  -webkit-box-shadow: 0px 10px 20px rgba(78, 170, 224, 0.35);
          box-shadow: 0px 10px 20px rgba(78, 170, 224, 0.35);
  border-radius: 40px;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  margin-top: 32px;
  position: relative;
  cursor: pointer;
}

.first__options div button div {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../image/arrowWhite.svg") no-repeat center;
}

.first__options div button div.adv__active {
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}

.first__options .first__web {
  border-right: 2px solid #f3f3f3;
}

.first__options .first__web button {
  background-color: #2E9ADB;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.first__options .first__web button:hover {
  background-color: #fff;
  border: 2px solid #2E9ADB;
  color: #2E9ADB;
}

.first__options .first__adv button {
  background-color: #55B570;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.first__options .first__adv button:hover {
  background-color: #fff;
  border: 2px solid #55B570;
  color: #55B570;
}

.line1 {
  max-width: 100%;
  padding-top: 230px;
}

.line1__container {
  padding: 0 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.line1__title {
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.line1__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.line1__features--item {
  width: 300px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 85px;
  text-align: center;
}

.line1__features--item img {
  margin-bottom: 30px;
}

.line1__features--item p {
  font-size: 20px;
  font-weight: 300;
}

.line2 {
  max-width: 100%;
  height: 717px;
  background: url("../image/bg_work_with_us.svg") no-repeat;
  background-size: cover;
}

.line2__container {
  padding: 185px 165px 0 165px;
  max-width: 100%;
  height: 100%;
}

.line2__title {
  color: #fff;
  width: 730px;
  margin: 0 auto;
}

.line2__title h2 {
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.line2__title p {
  text-align: center;
}

.line2__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}

.line2__article--item {
  width: 350px;
  text-align: center;
}

.line2__article--item img {
  margin-bottom: 30px;
}

.line2__article--item p {
  color: #fff;
}

.line3 {
  max-width: 100%;
}

.line3__container {
  padding: 0 265px;
}

.line3__title {
  text-align: center;
}

.line3__title h2 {
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.line3__title h2 span {
  color: #2E9ADB;
}

.line3__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 83px;
}

.verticals {
  max-width: 100%;
}

.verticals__container {
  padding: 90px 140px 0 140px;
}

.verticals__title {
  text-align: center;
  margin-bottom: 80px;
}

.verticals__title h2 {
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
}

.verticals__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.verticals__blocks--item {
  width: 350px;
  height: 350px;
  margin: 15px;
  background-image: url("../image/bg_verticals1.png");
  background-repeat: no-repeat;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
}

.verticals__blocks--img2 {
  position: absolute;
  left: 40px;
  top: 40px;
  z-index: 2;
}

.verticals__blocks--img3 {
  position: absolute;
  left: 0;
  top: 180px;
  z-index: 2;
}

.verticals__blocks--title {
  position: absolute;
  left: 40px;
  top: 227px;
  z-index: 3;
  font-size: 20px;
  font-weight: 900;
}

.verticals__blocks--paragraph {
  padding: 40px;
  padding-top: 0;
  font-size: 14px;
  font-weight: 300;
}

.line5 {
  max-width: 100%;
}

.line5__container {
  max-width: 100%;
  padding: 50px 220px;
}

.line5__title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 90px;
}

.line5__title h2 {
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
}

.line5__string {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line5__string img {
  display: block;
  margin: 30px 25px;
}

.line5__para {
  text-align: center;
  margin-top: 80px;
}

.line5__para p {
  font-weight: 500;
  font-size: 20px;
  color: #939393;
}

.feedback {
  max-width: 100%;
  height: 800px;
  background: url("../image/feedback__bg.png") no-repeat;
  position: relative;
  overflow: hidden;
}

.feedback__background {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.feedback__background2 {
  position: absolute;
  z-index: 3;
  top: -250px;
  left: 0;
}

.feedback__background3 {
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 3;
  bottom: -200px;
  left: 0;
}

.feedback__container {
  padding: 150px 335px;
}

.feedback__title {
  width: 800px;
  text-align: center;
}

.feedback__title h2 {
  color: #fff;
  font-weight: 900;
  font-size: 30px;
}

.feedback__form {
  width: 730px;
  position: absolute;
  z-index: 3;
  top: 200px;
  left: 365px;
}

.feedback__form--input {
  width: 730px;
  height: 80px;
  border-radius: 40px;
  background-color: #fff;
  padding: 28px 0 28px 30px;
  margin: 10px 0;
}

.feedback__form--input input {
  border: none;
  line-height: 24px;
  width: 600px;
  font-size: 20px;
}

.feedback__form--input input::-webkit-input-placeholder {
  color: rgba(126, 126, 126, 0.5);
  font-size: 20px;
  font-weight: 500;
}

.feedback__form--input input:-ms-input-placeholder {
  color: rgba(126, 126, 126, 0.5);
  font-size: 20px;
  font-weight: 500;
}

.feedback__form--input input::-ms-input-placeholder {
  color: rgba(126, 126, 126, 0.5);
  font-size: 20px;
  font-weight: 500;
}

.feedback__form--input input::placeholder {
  color: rgba(126, 126, 126, 0.5);
  font-size: 20px;
  font-weight: 500;
}

.feedback__form--input input:focus {
  outline: none;
}

.feedback__button {
  width: 730px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.feedback__button input {
  width: 350px;
  height: 80px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 40px;
  background: transparent;
  margin: auto;
  font-size: 20px;
  font-weight: 900;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.feedback__button input:hover {
  background: rgba(126, 126, 126, 0.25);
}

footer {
  max-width: 100%;
}

.footer__container {
  padding: 0 165px 60px;
}

.footer__columns {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column--terms {
  margin: 30px 0 20px;
}

.footer__column--terms a {
  font-size: 14px;
  font-weight: 700;
  color: #2E9ADB;
  text-transform: uppercase;
}

.footer__column--privacy a {
  font-size: 14px;
  font-weight: 700;
  color: #2E9ADB;
  text-transform: uppercase;
}

.footer__column--center div {
  position: relative;
  margin: 15px 0;
}

.footer__column--center div::before {
  content: "";
  border: 2px solid #2E9ADB;
  border-left-color: transparent;
  border-bottom-color: transparent;
  width: 12px;
  height: 12px;
  position: absolute;
  left: -30px;
  top: 4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer__column--right div {
  position: relative;
  margin: 15px 0;
}

.footer__column--right div::before {
  position: absolute;
  content: "";
  top: 0;
  left: -30px;
  display: block;
  width: 20px;
  height: 20px;
}

.footer__column--right .footer__email::before {
  background: url("../image/icons/email.png") no-repeat;
}

.footer__column--right .footer__telegram::before {
  background: url("../image/icons/telegram.png") no-repeat;
}

.footer__column--right .footer__skype::before {
  background: url("../image/icons/skype.png") no-repeat;
}

.login {
  max-width: 100%;
  height: 800px;
  background: url("../image/bg-1.png") no-repeat;
  overflow: hidden;
}

.login__container {
  max-width: 100%;
  height: 100%;
  background: url("../image/bg-2.png") no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login__wave {
  position: absolute;
  left: 0;
  bottom: -170px;
}

.login__box {
  margin: 0 auto;
}

.login__box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__box form .login__email,
.login__box form .login__pass {
  width: 350px;
  height: 80px;
  background: #fff;
  border-radius: 40px;
  border: none;
  padding-left: 30px;
  font-size: 20px;
  margin: 15px;
}

.login__box form .login__email:focus,
.login__box form .login__pass:focus {
  outline: none;
}

.login__title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.login__submit {
  background-color: #2E9ADB;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 354px;
  height: 80px;
  -webkit-box-shadow: 0px 10px 20px rgba(78, 170, 224, 0.35);
          box-shadow: 0px 10px 20px rgba(78, 170, 224, 0.35);
  border-radius: 40px;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  border: 3px solid #fff;
  margin-top: 32px;
  position: relative;
  cursor: pointer;
}

.login__submit:hover {
  background-color: #fff;
  border: 2px solid #2E9ADB;
  color: #2E9ADB;
}

.login__submit div {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 35.16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../image/arrowWhite.svg") no-repeat center;
}

.login__submit div.adv__active {
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}

.login__checkbox--lab {
  cursor: pointer;
}

.login__checkbox--inp {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}

.login__checkbox--inp:not(checked) {
  position: absolute;
  opacity: 0;
}

.login__checkbox--inp:not(checked) + .login__checkbox--lab {
  position: relative;
  padding: 0 0 0 60px;
  display: block;
  height: 30px;
}

.login__checkbox--inp:not(checked) + .login__checkbox--lab:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  border-color: #CDD1DA;
  -webkit-box-shadow: #CDD1DA 0px 0px 0px 0px inset;
          box-shadow: #CDD1DA 0px 0px 0px 0px inset;
  -webkit-transition: border 0.4s, -webkit-box-shadow 0.4s;
  transition: border 0.4s, -webkit-box-shadow 0.4s;
  transition: border 0.4s, box-shadow 0.4s;
  transition: border 0.4s, box-shadow 0.4s, -webkit-box-shadow 0.4s;
  background-color: #EBECEC;
}

.login__checkbox--inp:not(checked) + .login__checkbox--lab:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.login__checkbox--inp:checked + .login__checkbox--lab:before {
  -webkit-box-shadow: #4AD963 0px 0px 0px 16px inset;
          box-shadow: #4AD963 0px 0px 0px 16px inset;
  -webkit-transition: border 0.4s, background-color 1.2s, -webkit-box-shadow 0.4s;
  transition: border 0.4s, background-color 1.2s, -webkit-box-shadow 0.4s;
  transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
  transition: border 0.4s, box-shadow 0.4s, background-color 1.2s, -webkit-box-shadow 0.4s;
  background-color: #4AD963;
  border-color: #4AD963;
}

.login__checkbox--inp:checked + .login__checkbox--lab:after {
  left: 26px;
}
/*# sourceMappingURL=style.css.map */